---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

$serif: "JetBrains Mono", Georgia, Times, serif;
$sans-serif: "JetBrains Mono", -apple-system, BlinkMacSystemFont, "Roboto",
  "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$monospace: "JetBrains Mono", Monaco, Consolas, "Lucida Console", monospace;

/* type scale */
$type-size-1: 2.441em !default;
$type-size-2: 1.953em !default;
$type-size-3: 1.2em !default;
$type-size-4: 1em !default;
$type-size-5: 0.9em !default;
$type-size-6: 0.8em !default;
$type-size-7: 0.6em !default;
$type-size-8: 0.5em !default;

/* headline scale */
$h-size-1: 3em !default;
$h-size-2: 2em !default;
$h-size-3: 1.5em !default;
$h-size-4: 1.0625em !default;
$h-size-5: 1.03125em !default;
$h-size-6: 1em !default;

$dark-theme: false;
$background: #e4e2e3 !default;
$foreground: #181617 !default;
$url: #181617 !default;
$accent: #b12a59 !default;
$lines: #92878b !default;

@if $dark-theme {
  $background: #181617 !default;
  $foreground: #e4e2e3 !default;
  $url: #e4e2e3 !default;
  $accent: #d13f72 !default;
  $lines: #756a6e !default;
}

$background-color: $background;
$text-color: $foreground;
$primary-color: $accent;
$body-color: $background;
$footer-background-color: $background;
$link-color: $accent;

@import "minimal-mistakes";
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin

* {
  border: none !important;
  border-radius: 0 !important;
  letter-spacing: -0.07em !important;
}

html {
  font-size: 14px; // change to whatever

  @include breakpoint($medium) {
    font-size: 14px; // change to whatever
  }

  @include breakpoint($large) {
    font-size: 16px; // change to whatever
  }

  @include breakpoint($x-large) {
    font-size: 16px; // change to whatever
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 500 !important;
  line-height: 1em;
}

h2.archive__item-title:first-of-type {
  margin-top: 0 !important;
}

.entries-list > .list__item {
  margin-bottom: 4em !important;
}

h1, h2, h3 {
  letter-spacing: -0.08em !important;
}

.page__content h2, .list__item {
  border-bottom: 1px solid $lines !important;
}

a {
  text-decoration: none;
}

img,
iframe,
.fluid-width-video-wrapper {
  margin-bottom: 2em !important;
}

.archive__subtitle, .archive h1#page-title, .skip-links, .page__meta i, .masthead {
  display: none !important;
}

.archive__item-excerpt {
  font-size: $type-size-5 !important;
}

.archive__item > h2 > a {
  color: $text-color !important;
}

.page__meta, #footer {
  color: $lines !important;
}

.pagination--pager {
  border: 1px solid $lines !important;
}

.page__taxonomy-item, .page__taxonomy strong {
  margin: 0 !important;
  padding: 0 !important;
  }

.page__meta p {
   border-bottom: 1px solid $lines !important;
   padding: 0.5em 0 !important;
  }

  .page__meta p:last-of-type {
    border-bottom: none !important;
  }

.masthead {
  border-bottom: 1px solid $lines !important;
  text-transform: uppercase !important;
}

.masthead a {
  color: $text-color !important;
  padding: 5px !important;
}

.masthead a:hover {
  padding: 4px !important;
  border: 1px solid $lines !important;
}

.greedy-nav {
  justify-content: space-between !important;
}

li::marker {
  content: "+ ";
  // font-size: $type-size-6;
  font-weight: 100;
  color: $lines;
}

figcaption {
  color: $lines !important;
  display: block !important;
  margin: -2em 0 1em 0 !important;
}

h3.author__name {
  font-size: $type-size-3 !important;
}

.sticky {
  top: 0 !important;
}