---
layout: archive
---

{{ content }}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html collection=page.collection sort_by=page.sort_by sort_order=page.sort_order type=entries_layout %}

  {% for item in site.portfolio %}

<div class="portfolio-item">
  <a href="{{ item.link | relative_url }}">
    <div class="portfolio-thumbnail" style="background-image: url('{{ item.image | relative_url }}');">
      <div class="portfolio-overlay">
        <div class="portfolio-info">
          <span class="portfolio-year">{{ item.year }}</span>
          <h2 class="portfolio-title">{{ item.title }}</h2>
          <div class="portfolio-tags">
            {% for tag in item.tags %}
              <span class="portfolio-tag">{{ tag }}</span>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
{% endfor %}

</div>