---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 id="page-title" class="page__title"{% if page.locale %} lang="{{ page.locale }}"{% endif %}>{{ page.title }}</h1>
    {% endunless %}
{% assign entries_layout = page.entries_layout | default: 'list'
%}
  <div class="entries-{{ entries_layout }}">
    {% assign filtered_items = site.portfolio | where: 'categories', page.category %}
    {% for item in filtered_items %}
    <div class="portfolio-item">
      <div class="portfolio-header">
        <span class="portfolio-year">{{ item.year }}</span>
        <span class="portfolio-title">{{ item.title }}</span>
      </div>
      <a class="portfolio-thumbnail" href="{% if item.lightbox %}{{ item.image }}{% else %}{{ item.link }}{% endif %}" {% if item.lightbox %}data-lightbox="{{ item.categories }}"{% endif %}>
        <img src="{{ item.image | relative_url }}" alt="{{ item.title }}" width="1000" height="1000" />
      </a>
      <div class="portfolio-tags">
        {% for tag in item.tags %}
        <span class="portfolio-tag">{{ tag }}</span>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>

</div>